/* ------------------------------------------------------------------------------ */
/* ------------------------------ Utility start --------------------------------- */
/* ------------------------------------------------------------------------------ */
*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $font-color;
}
a{
    text-decoration-line: none;
}
a:focus, button:focus, span.btn-cv:focus{
    box-shadow: 2.5px 2.5px 5px $shadow inset,
                2.5px 2.5px 5px $light-shadow inset !important;
}
.btn-{
    @include btn(2.5px, 5px, 10px)
}
/* ------------------------------------------------------------------------------ */
/* ------------------------------ Utility end ----------------------------------- */
/* ------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------ */
/* ------------------------------ main start ------------------------------------ */
/* ------------------------------------------------------------------------------ */
body{
    font-family: 'Quicksand', sans-serif;
    background-color: $background-color;
}
.main-wrapper{
    max-width: 1200px;
    min-height: 100vh;
    padding: 5vh 1em;
    margin: auto;
    position: relative;
}
section{
    @include card(10px,15px,30px);
    display: none;
    padding: calc(50px + 1rem) 0;
    &.d-flex{
        display: none !important;
    }
    &.active.d-flex{
        display: flex !important;
        animation: fadeIn 0.5s ease-in-out forwards;
    }
    &.out{
        animation: fadeOut 0.5s ease-in-out forwards !important;
    }
}
/* ------------------------------------------------------------------------------ */
/* ------------------------------ main end -------------------------------------- */
/* ------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------ */
/* ------------------------------ keyframe start -------------------------------- */
/* ------------------------------------------------------------------------------ */
@keyframes fadeIn {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
}
/* ------------------------------------------------------------------------------ */
/* ------------------------------ keyframe end -------------------------------- */
/* ------------------------------------------------------------------------------ */
